name: Tests
#Comment
on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
       python -m pip install --upgrade pip
       python -m pip install tox tox-gh-actions
    - name: Install curl
      run: |
         apt-get update; apt-get install -y curl
     - name: Run curl
       run: |
         curl http://localhost:1883
   
    - name: Test with tox
      run: tox